.label3d {
  -moz-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  -webkit-user-select: none;
  display:block;
  position: absolute;
  transform: translate(-50%, -50%);
  user-select:none;
  z-index: 1;
}

.tooltiptext {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
}

